* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}
a.btn {
  background: #6a0dac;
  padding: 18px 50px;
  border-radius: 8px;
}

h1 {
  font-size: 52px;
  font-weight: 600;
}

h2 {
  font-size: 42px;
  font-weight: 500;
}

body {
  margin: 0;
  background: #272727;
  color: white;
}
body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body header {
  background: black;
  height: 20vh;
}
body header .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
}
body header .wrapper .logo, body header .wrapper .logo img {
  width: 90px;
  height: 90px;
}
body header .wrapper .links {
  display: flex;
  gap: 25px;
  font-size: 16px;
}
body .intro {
  margin-top: 90px;
}
body .intro .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}
body .intro .info .left h1 {
  max-width: 560px;
  margin-inline: 20px;
}
body .intro .info .right p {
  font-size: 22px;
  font-weight: 200;
}
body .intro .image {
  margin-top: 80px;
  padding-inline: 40px;
}
body .intro .image img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
body .our-team {
  margin-top: 255px;
  margin-bottom: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
body .our-team .left p {
  font-size: 20px;
}
body .our-team .right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
body .our-team .right img {
  width: 220px;
  height: 220px;
  border-radius: 15px;
}
body .main-developers {
  padding-block: 135px;
  text-align: center;
  background-image: linear-gradient(0.5turn, rgb(39, 39, 39) 0%, rgb(41, 41, 41) 22%, rgb(109, 32, 168) 50%, rgb(109, 32, 168) 50%, rgb(109, 32, 168) 50%, rgb(41, 41, 41) 100%, rgb(39, 39, 39) 100%);
}
body .main-developers .info {
  max-width: 570px;
  margin: 0 auto;
}
body .main-developers .info p {
  font-size: 24px;
}
body .main-developers .developers {
  margin-top: 105px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 90px;
}
body .main-developers .developers .item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}
body .main-developers .developers .item .avatar, body .main-developers .developers .item .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
body .main-developers .developers .item .name {
  font-size: 22px;
  margin-bottom: 0;
}
body .main-developers .developers .item .role {
  font-size: 14px;
}
body .main-developers .developers .item .description {
  font-size: 15px;
}
body .our-game-collection {
  text-align: center;
}
body .our-game-collection .blocks {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(2, 438px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
body .our-game-collection .blocks .block .image {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
body .our-game-collection .blocks .block .info {
  height: 30%;
  background: white;
  color: black;
  padding: 27px 30px;
  border-radius: 0 0 15px 15px;
  text-align: left;
}
body .our-game-collection .blocks .block .info .title {
  margin: 0;
  font-size: 24px;
  font-weight: 450;
}
body .game-blocks {
  margin-top: 135px;
}
body .game-blocks .block {
  padding-block: 135px;
}
body .game-blocks .block.arena-of-creation {
  background: white;
  color: black;
}
body .game-blocks .block.arena-of-creation .inner a.btn {
  color: white;
  background: black;
}
body .game-blocks .block.arena-of-creation .inner .line {
  background: black;
}
body .game-blocks .block.the-last-crystal-of-life {
  background: #6a0dac;
  color: white;
}
body .game-blocks .block.the-last-crystal-of-life .inner a.btn {
  color: #6a0dac;
  background: white;
}
body .game-blocks .block.the-last-crystal-of-life .inner .line {
  background: white;
}
body .game-blocks .block.free-line-of-time {
  background: white;
  color: black;
}
body .game-blocks .block.free-line-of-time .inner a.btn {
  color: white;
  background: black;
}
body .game-blocks .block.free-line-of-time .inner .line {
  background: black;
}
body .game-blocks .block .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
body .game-blocks .block .inner .left {
  width: 560px;
}
body .game-blocks .block .inner .left .line {
  width: 200px;
  height: 3px;
}
body .game-blocks .block .inner .left .description {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  margin-bottom: 60px;
}
body .game-blocks .block .inner .left .description strong {
  font-weight: 500;
}
body .game-blocks .block .inner .left a.btn {
  border-radius: 25px;
  padding-inline: 60px;
}
body .game-blocks .block .inner .right img {
  border-radius: 15px;
}/*# sourceMappingURL=style.css.map */